<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h1>Edit a restaurant</h1>
<form (submit)="update(restaurant._id)">
    <p>Restaurant Name: <input type="text" name="restaurant.name" [(ngModel)]="restaurant.name"></p>
    <p>Cuisine Type: <input type="text" name="restaurant.cuisine" [(ngModel)]="restaurant.cuisine"></p>
    <p id="error" *ngIf="msg_error">{{msg_error}}</p>
    <input type="submit" value="Edit"> <a [routerLink]="['/restaurants']">Cancel</a>
</form>